/*!
 * Tink 2014 Print Theme Styles
 *
 * @author: @LeonieWatson
 *
 */
body {
    font-size: 12pt;
    line-height: 1.25;
    margin: 1em auto;
    max-width: 600px;
}

h1 {
    font-size: 36pt;
    line-height: 1.25;
}

h2 {
    font-size: 24pt;
    line-height: 1.25;
}

h3 {
    font-size: 18pt;
    line-height: 1.25;
}

h4,
h5,
h6 {
    font-size: 14pt;
    line-height: 1.25;
}

a {
    color: #00e;
    text-decoration: none;
}

.aside a[href]:after,
.single .main a[href]:after {
    content: " [" attr(href) "] ";
    font-size: 11pt;
}

.header .header_logo img {
    display: block;
    height: 100px;
    width: 100px;
}

.aside_navigation,
.comment-respond,
.js-header_toggle-button,
.js-theme-switcher_heading,
.js-theme-switcher,
.pager,
.pagination,
.search-form,
.skip-links {
    display: none;
}
