// Table


// Pattern variables
$table-heading-background-color: $black-pure;
$table-heading-border-color: $black-pure;
$table-heading-color: $white-pure;
$table-heading-link-color: $white-pure;


@mixin tables-mobile {

    /* TABLE
    ------------------------------------------*/
    table caption {margin-bottom: 1em; }

    th,
    td {padding: 10px 20px; }

    th {
        background: $table-heading-background-color;
        color: $table-heading-color;

        a {
            color: $table-heading-link-color;

            &:focus,
            &:active {outline: 1px dotted; }
        }
    }

    td {border-bottom: 2px solid $table-heading-border-color; }

} // end mixin