// Textarea


// Pattern variables
$textarea-border-color: $grey3;


@mixin textarea-mobile {

    /* TEXTAREA
    ------------------------------------------*/
    textarea {
        background: transparent;
        border: 1px solid $textarea-border-color;
        border-radius: 1px;
        padding: 5px;
    }

} // end mixin