// Helpers
//
// Reusable classes that help style and position elements.<% if (toolkits === 'toolkitKss') { %>
//
// <p>`.clearfix` : Clearfix for floats</p>
// <p>`.hide|.hidden` : Positions element off-screen</p>
// <p>`.text--larger` : Font size 140%</p>
// <p>`.text--large` : font-size 120%</p>
// <p>`.text--small` : Font size 80%</p>
// <p>`.text--smaller` : font-size 60%</p>
//
// Styleguide 2.1<% } %>


@import 'helpers-mixins';


@mixin helpers-mobile {

    /* HELPERS
    ------------------------------------------*/
    .clearfix {@include clearfix; }

    .hide,
    .hidden {@include hide; }

    .text {

        &--larger {@include text--larger; }

        &--large {@include text--large; }

        &--small {@include text--small; }

        &--smaller {@include text--smaller; }
    }

    // WordPress Core
    .alignnone {@include alignnone; }

    .aligncenter {@include aligncenter; }

    .alignright {@include alignright; }

    .alignleft {@include alignleft; }

    a {
        .alignnone {@include alignnone; }

        .aligncenter {@include aligncenter; }

        .alignright {@include alignright; }

        .alignleft {@include alignleft; }
    }

    .scrollable {overflow: auto; }

    .wp-caption {
        background: #fff;
        border: 1px solid #f0f0f0;
        max-width: 96%; /* Image does not overflow the content area */
        padding: 5px 3px 10px;
        text-align: center;

        .alignnone {@include alignnone; }

        .alignleft {margin: 5px 20px 20px 0; }

        .alignright {margin: 5px 0 20px 20px; }

        img {
            border: 0 none;
            height: auto;
            margin: 0;
            max-width: 98.5%;
            padding: 0;
            width: auto;
        }

        .wp-caption-text {
            font-size: 11px;
            line-height: 17px;
            margin: 0;
            padding: 0 4px 5px;
        }
    }

} // end mixin