// Badge


// Pattern variables
$badge-color: $grey7;
$badge-border-color: $grey5;

$theme-dark-badge-border-color: $grey5;


@mixin badge-mobile {

    /* BADGE
    ------------------------------------------*/
    .badge {
        display: inline-block;
        border: 1px solid $badge-border-color;
        border-radius: 100px;
        color: $badge-color;
        margin-top: -5px;
        min-height: 1em;
        min-width: 2em;
        padding: .35em 0;
        position: relative;
        text-align: center;

        &--pull-right {
            display: inline-block;
        }
    }

    // Theme dark
    .theme-dark {

        .badge {border: 1px solid $theme-dark-badge-border-color; }
    }

    // JS
    .js {

        .badge {

            &--pull-right {
                display: block;
                float: right;
            }
        }
    }

} // end mixin