// Select


// Pattern variables
$select-border-color: $grey3;


@mixin select-mobile {

    /* SELECT
    ------------------------------------------*/
    select {
        border: 1px solid $select-border-color;
        border-radius: 1px;
        padding: 5px;
    }

} // end mixin