// Horizontal Rule


// Pattern variables
$hr-fade-in-color: $grey4;


@mixin horizontal-rule-mobile {

    /* HORIZONTAL RULE
    ------------------------------------------*/
    hr {
        background-color: $hr-fade-in-color;
        border: 0;
        height: 1px;
    }

} // end mixin