// Text


// Pattern variables
$text-selection-color: $grey6;
$theme-dark-text-selection-color: $black1;


@mixin text-mobile {

    // TEXT
    //------------------------------------------
    ::-moz-selection {
        background: $text-selection-color;
    }

    ::selection {
        background: $text-selection-color;
    }

    // Theme dark
    .theme--dark {
        ::-moz-selection {
            background: $theme-dark-text-selection-color;
        }

        ::selection {
            background: $theme-dark-text-selection-color;
        }
    }

} // end mixin