// Article


// Pattern variables
$article-sticky-border-color: $black-pure;

$theme-dark-article-sticky-border-color: $white-pure;


@mixin article-mobile {

    /* ARTICLE
    ------------------------------------------*/
    .article {
        margin-bottom: 60px;

        .article_title {
            font-size: pxtopercent(32);
            line-height: 1.35;
            margin: .67em 0 0;
            word-wrap: break-word;
        }

        // Sticky
        &--sticky {
            border: {
                top: 3px solid $article-sticky-border-color;
                bottom: 3px solid $article-sticky-border-color;
            }
            margin-bottom: 2em;
            padding: 0 0 1.25em;

            .article_title {
                background: {
                    image: url(assets/img/icons/circle-info.png);
                    position: 0 0;
                    repeat: no-repeat;
                }
                font: {
                    family: $base-font-family;
                    size: pxtopercent(26);
                }
                min-height: 37px;
                padding: {
                    left: 60px;
                    top: 3px;
                }
                text-transform: uppercase;
            }
        }
    }

    // Home
    .home {

        .article {

            .article_title {

                a {
                    text-decoration: none;

                    &:hover {text-decoration: underline; }
                }
            }
        }
    }

    // Theme dark
    .theme--dark {

        .article {

            // Sticky
            &--sticky {
                border: {
                    top: 3px solid $theme-dark-article-sticky-border-color;
                    bottom: 3px solid $theme-dark-article-sticky-border-color;
                }

                .article_title {background-image: url(assets/img/icons/circle-info-white.png); }
            }
        }
    }

} // end mixin


@mixin article-tablet {

    /* ARTICLE
    ------------------------------------------*/
    .article {
        margin-bottom: 80px;

        // Sticky
        &--sticky {
            margin-bottom: 2em;

            .article_title {
                background-position: 0 .3em;
                font-size: pxtopercent(30);
                margin-top: .67em;
                padding-top: 0;
            }
        }
    }

    // Home & single
    .home,
    .single {

        .article {

            .article_title {
                font-size: pxtopercent(50);
                line-height: 1.35;
                margin-top: 0;
            }
        }
    }

} // end mixin


@mixin article-desktop {

    /* ARTICLE
    ------------------------------------------*/
    .article {

        // Sticky
        &--sticky {
            background: url(assets/img/icons/circle-info.png) no-repeat 0 1em;
            margin: {
                left: -60px;
            }
            padding-left: 60px;

            .article_title {
                background: none;
                padding-left: 0;
            }
        }
    }

    // Theme dark
    .theme--dark {

        .article {

            // Sticky
            &--sticky {
                background: url(assets/img/icons/circle-info-white.png) no-repeat 0 1em;

                .article_title {background: none; }
            }
        }
    }
} // end mixin