// Metadata


// Pattern variables
$metadata-category-background-color: $black-pure;
$metadata-category-color: $white-pure;
$metadata-category-background-color-focus: $white-pure;
$metadata-category-color-focus: $black-pure;
$metadata-time-color: $grey4;

$theme-dark-metadata-category-background-color: $white-pure;
$theme-dark-metadata-category-color: $black-pure;
$theme-dark-metadata-category-background-color-focus: $black-pure;
$theme-dark-metadata-category-color-focus: $white-pure;


@mixin metadata-mobile {

    /* METADATA
    ------------------------------------------*/
    .metadata {
        font-size: pxtopercent(13);
        line-height: 1.75;
        text-transform: uppercase;

        a {
            background-color: $metadata-category-background-color;
            color: $metadata-category-color;
            font-weight: 400;
            margin-right: 10px;
            padding: 1px 3px;
            text-decoration: none;

            &:focus,
            &:active {
                background-color: $metadata-category-background-color-focus;
                color: $metadata-category-color-focus;
                text-decoration: underline;
            }
        }

        time {
            background: {
                image: url(assets/img/calendar.png);
                position:  0 50%;
                repeat: no-repeat;
            }
            color: $metadata-time-color;
            padding-left: 20px;
            white-space: pre;
        }
    }

    // Theme dark
    .theme--dark {

        .metadata {

            a {
                background-color: $theme-dark-metadata-category-background-color;
                color: $theme-dark-metadata-category-color;

                &:focus,
                &:active {
                    background-color: $theme-dark-metadata-category-background-color-focus;
                    color: $theme-dark-metadata-category-color-focus;
                }
            }

            time {
                background-image: url(assets/img/calendar-white.png);
            }
        }
    }

} // end mixin