// Lists


// Pattern variables
$list-tags-background-color: $black-pure;
$list-tags-color: $white-pure;
$list-tags-background-color-focus: $white-pure;
$list-tags-color-focus: $black-pure;

$theme-dark-list-tags-background-color: $white-pure;
$theme-dark-list-tags-color: $black-pure;
$theme-dark-list-tags-background-color-focus: $black-pure;
$theme-dark-list-tags-color-focus: $white-pure;


@mixin lists-mobile {

    /* LISTS
    ------------------------------------------*/
    ul,
    ol {
        padding-left: 15px;

        li {margin-bottom: 5px; }

    }

    ul {
        list-style: square;

        ul {
            list-style: disc;
            margin-left: 5px;

            ul {list-style: circle; }
        }
    }

    ol {

        ol {
            list-style: lower-alpha;
            margin-left: 5px;

            ol {list-style: lower-roman; }
        }
    }

    dt {
        font-weight: 700;
        margin: 10px 0 3px;
    }

    // List variations
    .list {

        &--no-style {
            list-style: none;
            padding: 0;
        }

        &--tags {
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
                margin: 0 4px 3px 0;
                vertical-align: top;
            }

            a {
                background-color: $list-tags-background-color;
                color: $list-tags-color;
                padding: 1px 2px;
                text-decoration: none;
                text-transform: uppercase;

                &:focus,
                &:active {
                    background-color: $list-tags-background-color-focus;
                    color: $list-tags-color-focus;
                    text-decoration: underline;
                }
            }
        }
    }

    // Theme dark
    .theme--dark {

        // List variations
        .list {

            &--tags {

                a {
                    background-color: $theme-dark-list-tags-background-color;
                    color: $theme-dark-list-tags-color;

                    &:focus,
                    &:active {
                        background-color: $theme-dark-list-tags-background-color-focus;
                        color: $theme-dark-list-tags-color-focus;
                    }
                }
            }
        }
    }

} // end mixin


@mixin lists-tablet {

    /* LISTS
    ------------------------------------------*/
    ul,
    ol {padding: 0; }

    ul,
    ol {

        ul {margin-left: 25px; }
    }

    ol,
    ul {

        ol {margin-left: 25px; }
    }

} // end mixin