// Link


// Pattern variables
$link-color: $black-pure;
$link-background-color-focus: $black-pure;
$link-color-focus: $white-pure;

$theme-dark-link-color: $white-pure;
$theme-dark-link-background-color-focus: $white-pure;
$theme-dark-link-color-focus: $black-pure;


@mixin link-mobile {

    /* LINK
    ------------------------------------------*/
    a {
        color: $link-color;
        font-weight: 700;
        transition: all .3s;

        &:active,
        &:focus,
        &:hover {text-decoration: none; }

        &:active,
        &:focus {
            background-color: $link-background-color-focus;
            color: $link-color-focus;
            outline: none;
            transition: all .3s;
        }
    }

    // Theme dark
    .theme--dark {

        a {
            color: $theme-dark-link-color;

            &:active,
            &:focus {
                background-color: $theme-dark-link-background-color-focus;
                color: $theme-dark-link-color-focus;
            }
        }
    }

} // end mixin