// Code


// Pattern variables
$code-border-color: $grey4;


@mixin code-mobile {

    /* CODE
    ------------------------------------------*/
    pre,
    code {
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: pxtopercent(14);
    }

    pre {
        border-left: 3px solid $code-border-color;
        padding: 0 10px 0 17px;
    }

} // end mixin


@mixin code-tablet {

    /* CODE
    ------------------------------------------*/
    pre {margin-left: -20px; }

} // end mixin