@charset 'UTF-8';
/*!
 * Tink 2014 Theme Styles
 *
 * @author: @lawlesscreation
 * @version: '0.2.0'
 *
 */
@import
'patterns/functions',
'patterns/vars';

// Vendor
@import 'patterns/vendor/vendor';


// Base
@import 'patterns/base/base';


// Components
@import 'patterns/components/components';


// Layouts
@import 'patterns/layouts/layouts';


/*------------------------------------------------------------------------------------
  Mobile and up
------------------------------------------------------------------------------------*/
@media only screen {

    body {
        color: $base-color;
        font: #{$base-font-size}/#{$base-line-height} $base-font-family;
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }

    // Theme dark
    .theme--dark {

        body {
            background: $theme-dark-base-background-color;
            color: $theme-dark-base-color;
        }
    }

    @import 'patterns/base/breakpoints/mobile';

} /* end media */


/*--------------------------------------------------------------------------------
  Mobile (large/landscape) and up
--------------------------------------------------------------------------------*/
@media only screen and (min-width: $rbp-mobile-large) {

    @import 'patterns/base/breakpoints/mobile-large';

} /* end media */


/*-------------------------------------------------------------------------------
  Tablet (small/portrait) and up
--------------------------------------------------------------------------------*/
@media only screen and (min-width: $rbp-tablet) {

    body {
        font: #{$base-font-size-tablet}/#{$base-line-height-tablet} $base-font-family-tablet;
    }

    @import 'patterns/base/breakpoints/tablet';

} /* end media */


/*-------------------------------------------------------------------------------
  Tablet (medium) and up
--------------------------------------------------------------------------------*/
@media only screen and (min-width: $rbp-tablet-medium) {

    @import 'patterns/base/breakpoints/tablet-medium';

} /* end media */


/*--------------------------------------------------------------------------------
  Tablet (large/landscape) and up
--------------------------------------------------------------------------------*/
@media only screen and (min-width: $rbp-tablet-large) {

    body {
        color: $base-color-tablet-large;
        font: #{$base-font-size-tablet-large}/#{$base-line-height-tablet-large} $base-font-family-tablet-large;
    }

    @import 'patterns/base/breakpoints/tablet-large';

} /* end media */


/*--------------------------------------------------------------------------------
  Desktop (small) and up
--------------------------------------------------------------------------------*/
@media only screen and (min-width: $rbp-desktop) {

    @import 'patterns/base/breakpoints/desktop';

} /* end media */