// Blockquote


// Pattern variables
$blockquote-border-color: $grey4;
$blockquote-color: $grey4;
$blockquote-cite-color: $black-pure;


@mixin blockquote-mobile {

    /* BLOCKQUOTE
    ------------------------------------------*/
    blockquote {
        border-left: 3px solid $blockquote-border-color;
        color: $blockquote-color;
        font-size: pxtopercent(20);
        line-height: 1.25;
        margin-left: 0;
        padding: 2px 20px 2px 17px;

        p {margin: 0; }

        cite {
            color: $blockquote-cite-color;
            display: block;
            font-size: pxtopercent(12,20);
            margin-top: 1em;
            text-align: right;
            text-transform: uppercase;

            &:before {content: "- "; }
        }
    }

} // end mixin


@mixin blockquote-tablet {

    /* BLOCKQUOTE
    ------------------------------------------*/
    blockquote {
        font-size: pxtopercent(26);
        margin-left: -20px;

        cite {font-size: pxtopercent(12,26); }
    }

} // end mixin