// Pager


// Pattern variables
$pager-item-border-color: $grey2;
$pager-background-color: $white-pure;
$pager-border-color: $grey6;

$theme-dark-pager-background-color: $black-pure;


@mixin pager-mobile {

    /* PAGER
    ------------------------------------------*/
    .pager {
        margin: 2em 0;
        position: relative;
        text-align: center;

        &:before {
            content: "";
            display: block;
            border-top: solid 1px $pager-border-color;
            width: 100%;
            height: 1px;
            position: absolute;
            top: 50%;
            z-index: 1;
        }

        .pager_list {
            background: $pager-background-color;
            display: inline-block;
            list-style: none;
            margin: 0;
            min-width: 50%;
            padding: 0;
            position: relative;
            z-index: 5;
        }

        .pager_item {
            display: inline-block;
            font-size: pxtopercent(13);
            margin: 0;
            max-width: 45%;
            text-transform: uppercase;
            vertical-align: text-top;

            // Next variation
            &--next {
                border-right: 1px solid $pager-item-border-color;
                padding: 0 3.5% 0 0;
                text-align: right;

                a {
                    background: {
                        image: url(assets/img/arrow-left-black.png);
                        position: 0 50%;
                        repeat: no-repeat;
                    }
                    padding-left: 15px;

                    &:focus,
                    &:active {background-image: url(assets/img/arrow-left-white.png); }
                }
            }

            // Previous variation
            &--prev {
                padding: 0 0 0 2.5%;
                text-align: left;

                a {
                    background: {
                        image: url(assets/img/arrow-right-black.png);
                        position: 100% 50%;
                        repeat: no-repeat;
                    }
                    padding-right: 15px;

                    &:focus,
                    &:active {
                        background-image: url(assets/img/arrow-right-white.png);
                    }
                }
            }
        }

        a {opacity: .25; }

        a[href] {opacity: 1; }

        // Single post pager
        &--single {

            .pager_item {

                &--prev {
                    border-right: 1px solid $pager-item-border-color;
                    padding: 0 3.5% 0 0;
                    text-align: right;

                    a {
                        background: {
                            image: url(assets/img/arrow-left-black.png);
                            position: 0 50%;
                            repeat: no-repeat;
                        }
                        padding: {
                            left: 15px;
                            right: 0;
                        }

                        &:focus,
                        &:active {background-image: url(assets/img/arrow-left-white.png); }
                    }
                }

                &--next {
                    border: none;
                    padding: 0 0 0 2.5%;
                    text-align: left;

                    a {
                        background: {
                            image: url(assets/img/arrow-right-black.png);
                            position: 100% 50%;
                            repeat: no-repeat;
                        }
                        padding: {
                            left: 0;
                            right: 15px;
                        }

                        &:focus,
                        &:active {background-image: url(assets/img/arrow-right-white.png); }
                    }
                }
            }
        }
    }

    // Theme dark
    .theme--dark {

        .pager {

            .pager_list {background: $theme-dark-pager-background-color; }

            .pager_item {

                // Next variation
                &--next {

                    a {
                        background-image: url(assets/img/arrow-left-white.png);

                        &:focus,
                        &:active {background-image: url(assets/img/arrow-left-black.png); }
                    }
                }

                // Previous variation
                &--prev {

                    a {
                        background-image: url(assets/img/arrow-right-black.png);

                        &:focus,
                        &:active {background-image: url(assets/img/arrow-right-white.png); }
                    }
                }
            }

            // Single post pager
            &--single {

                .pager_item {

                    &--prev {

                        a {
                            background-image: url(assets/img/arrow-left-white.png);

                            &:focus,
                            &:active {background-image: url(assets/img/arrow-left-black.png); }
                        }
                    }

                    &--next {

                        a {
                            background-image: url(assets/img/arrow-right-white.png);

                            &:focus,
                            &:active {background-image: url(assets/img/arrow-right-black.png); }
                        }
                    }
                }
            }
        }
    }

} // end mixin


@mixin pager-tablet {

    /* PAGER
    ------------------------------------------*/
    .pager {
        margin-top: 80px; // match margin applied to footer

        .pager_list {
            margin: 0 20px;
            position: relative;
            z-index: 8000;
        }
    }

} // end mixin